* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container_index {
  display: grid;
  grid-template-rows: 1fr 2.0fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "seccion"
    "footer";
}
.header_index {
  grid-area: header;
  background-color: aquamarine;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}
.logo{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.h1_index {
  overflow-y: hidden;
  font-family: 'Dancing Script', cursive;
  color: #fd208f
} 
#tamaño-h1{
  text-align: center;
  font-size: 3rem;
}
/*
.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(127, 182, 255);
  transition-property: background-color;
  transition-duration: 1s;
}
.nav li:hover {
  background-color: #e49dfa;
  border-radius: 8px;
}
.nav ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav li {
  list-style-type: none;
  font-size: 18px;
  font-family: "Lora", serif;
}
.nav a {
  text-decoration: none;
}*/
#color-nav{
  background-color: #978cfa;
}
.seccion {
  grid-area: seccion;
  background-image: url("../img/fondo.jpg");
  font-size: 20px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.seccion p {
  width: 80vw;
  font-size: 20px;
  margin-top: 100px;
  margin-right: 3 px;
  font-family: "Send Flowers";
  margin: auto;
}

.footer_index {
    grid-area: footer;
    background-color: aquamarine;
    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
  }

  .footer_index img {
    width: 35px;
  }
  


  /* ********************Termina index************************* */

.containerFotos {
    display: grid;
    grid-template-rows: 2fr 2.0fr 1,5fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "fotos"
      "footer";
   }
.seccionFotos {
    grid-area: fotos;
    background-image: url("../img/fondo.jpg");
    width: 100vw; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
/*.transision_img img{
  transition-duration: 1s;
} 
.transision_img:hover{
  width: 400px;
}*/

.imagen1{
  border: thick solid black;
  margin-top: 20px;
  transition-property: width;
  transition-duration: 2s;
  transition-delay: 1s;
  } 
.imagen1 img:hover{
  width: 600px ;
}

.imagen1 img{
  width: 300px;
  text-align: center;
  padding: 2px;
} 

.slide{
  margin-top: 15px;
}

.slide img{
height: 900px;
}


    /* ********************Termina fotos************************* */

.containerMihistoria {
      display: grid;
      grid-template-rows: 1fr 0.8fr 2fr 0.3fr;
      gap: 0px 0px;
      grid-template-areas:
        "header"
        "nav"
        "miHistoria"
        "footer";
    }
.seccionMihistoria {
      grid-area:  miHistoria;
      background-image: url("../img/fondo.jpg");
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .h1_index {
      overflow-y: hidden;
      font-family: 'Dancing Script', cursive;
      color: #fd208f
    } 
.entrevista{
    text-align: center;
    font-size: 30px;
    margin: 10px;
  }
.iframe1{
  width: 350px;
  margin: 10px;
}
    /* ********************Termina miHistoria************************* */
.containerTienda {
  display: grid;
  grid-template-rows: 0.1fr 2.2fr 1fr ;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "tienda"
    "footer";
}
.seccionTienda {
  grid-area: tienda;
  background-image: url("../img/fondo.jpg");
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header_index div{
  text-align: center;
}
.seccionTienda card img {
  width: 80vw;
  margin-bottom: 10px;
}

  /* ********************Termina tienda************************* */

.containerContactame {
    display: grid;
    grid-template-rows: 1fr 2.2fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "contactame"
      "footer";
}
.seccionContactame {
    grid-area:  contactame;
    background-image: url("../img/fondo.jpg ");
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boxForm{
    text-align: center;
    
}
.inputForm{
    padding: 3px;
    margin-bottom: 6px;
    border-radius: 6px;
}
.boton_verde_agua{
  background-color: aquamarine;
  width: 80px;
  height: 40px;
}
   /* ********************Termina contactame************************* */

/*//// @media screem inicio 320px//// */

@media screen and (min-width: 320px){
.nav li { 
  list-style-type: none;
  font-size: 14px;
  font-family: "Lora", serif;
}

/* @merdia screem Tienda */
.containerTienda {
  grid-template-rows: 0.481fr 2.5fr 0.20fr;
}

/* @merdia screem Fotos */
.slide img{
    height: 400px;
    }

  /* @merdia screem Mi historia */

.containerMihistoria{
  grid-template-rows: 5fr 0.8fr 2fr 0.3fr;
}  

.containerContactame{
  grid-template-rows: 1fr 2.2fr 0.4fr;
}

/*/// @media screem container 768px ///*/

@media screen and (min-width: 768px){
.nav li { 
    list-style-type: none;
    font-size: 20px;
    font-family: "Lora", serif;
  }

  .seccion p {
    width: 90vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 11%;
    margin-right: 3 px;
    font-family: "Send Flowers";
    margin-left: 5%;
  }
   /* @merdia screem fotos */
.seccionFotos{
  
  padding-left: 10px;
}

.imagen1 {
    margin-top: 10px;
  } 

  /* @merdia screem Mi historia */
  .containerMihistoria{
    grid-template-rows: 5fr 0.5fr 2fr 0.3fr;
  }
  .seccionMihistoria {
    flex-direction: column;
  }
  /* @merdia screem Tienda */
.containerTienda {
  grid-template-rows: 1fr 2.5fr 0.35fr; 
  } 
  .card1{
    background-color: #e49dfa;
    width: 30vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  
  }
  .card2{
    background-color: #fcff2f;
    width: 30vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
  
  }
  .card3{
    background-color: #978cfa;
    width: 30vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  
  }
  .card4{
    background-color: #fd208f;
    width: 30vw;
    text-align: center;

    margin-bottom: 10px;
  }
 
  .seccionTienda card img {
    width: 20vw;
    margin-bottom: 10px;
  }

  .boxForm{
    font-size: 20px;

  }
  .containerContactame {
      display: grid;
      grid-template-rows: 1fr 2.2fr 0.37fr;
  }

 /* //// @media screem container 1024px ///*/

@media screen and (min-width: 1024px){

  .nav li { 
    list-style-type: none;
    font-size: 20px;
    font-family: "Lora", serif;
  }
   /* @media screem fotos */
  .containerFotos{
    grid-template-rows: 2fr 2.5fr 1,5fr;
  }
   
  .imagen1 {
    margin: 5px;
  }  
  /*@media*/
  .seccion p {
    font-size: 2rem;
    margin-top: 11%;
    margin-right: 20px;
  }
  /* @media screem Mi historia */
  .containerMihistoria{
    grid-template-rows: 0.135fr 0.013fr 2.5fr 0.050fr;
  }
  .seccionMiHistoria {
    flex-direction: column;
  }
  /* @media screem Tienda */
  .containerTienda {
  grid-template-rows: 1fr 2.5fr 0.40fr; 
  }
  /* @media screem Contactame */
  .containerContactame {
  grid-template-rows: 0.967fr 2fr 0.50fr; 
  }
}

/* //// @media screem container 1440px ///*/

@media screen and (min-width: 1440px){
  /* @merdia screem index */
  .seccion p{
    width: 80vw;
    margin-left: 50px;
    font-size: 2.3rem;
    margin-top: 85px;
  }

   /* @merdia screem fotos */

  .imagen1 img:hover{
    width: 500px;
    height: auto;
    transition: 0.5s;
    transition-duration: 0.2;
  }

 /* @merdia screem Tienda*/

  .containerTienda {
    grid-template-rows: 0.848fr 2.5fr 0.30fr;
  }

 /* @merdia screem form */

.boton_verde_agua{
  background-color: aquamarine;
  width: 80px;
  height: 40px;
}
/* @merdia screem Contactame */

.containerContactame {
  grid-template-rows: 0.995fr 2.5fr 0.50fr; 
  }

.boxForm{
    text-align: center;
    font-size: 25px;
    font-family: "Lora", serif;
}
.inputForm{
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 8px; 
}
}